<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>

<div class="pa-carousel-widget" style="width:100%; height:480px; display:none;" id="album">
</div>

<script>
   let album = document.getElementById('album');
   let imageWidth = '0';
   if (typeof googlePhotos != "undefined") {
      for(var i in googlePhotos.urls) {
         let picture = document.createElement('object');
         picture.setAttribute("data", googlePhotos.urls[i] + '=w' + imageWidth);
         album.appendChild(picture);
      }
   } else {
      album.remove();
   }
</script>
