<div class="site-branding">
    <a href="{{ site.baseurl }}/" class="custom-logo-link site-logo-link" rel="home" itemprop="url">
        <img width="200" height="108" src="{{ site.baseurl }}/assets/img/qvz_logo.png" class="custom-logo attachment-full size-full" alt="Quartierverein" itemprop="logo">
    </a>
</div>
<div class="header">
     <div class="container">
            <nav class="nav-collapse">
                <ul class="menu">
                    {% for item in site.toc %}
                    <li class="menu-item">
                        {% if item.url %}
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        {% else %}
                            <a href="javascript:void(0);">{{ item.title }}</a>
                        {% endif %}
                        {% if item.subfolderitems %}
                            <ul class="sub-menu">
                                {% for entry in item.subfolderitems %}
                                <li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
     </div>
 </div><!-- end .header -->
